*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body,a,li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}

.vertical-sec{
    width: 4vw;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    border-left: solid;
    border-color: rgb(236, 236, 236);
    border-width: 2px;
}

/* .vertical-sec-items{
    position: relative;
} */

.vertical-sec-menu{
    text-align: center;
    position: fixed;
    top: -60px;
    right: 1.2vw;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.8s ease;
    z-index: -10;
}

.vertical-sec-menu.appaer{
    text-align: center;
    position: fixed;
    top: 30px;
    right: 1.2vw;
    cursor: pointer;
    opacity: 1;
    z-index: 10;
    transition: opacity 0.8s ease;327
}

.vertical-sec .fa-bars{
    font-size: 35px;
}

.vertical-sec p{
    color: grey;
    font-size: 10px;
}

.vertical-sec-search{
    position: fixed;
    top: 30px;
    right: 1.2vw;
    font-size: 25px ;
    cursor: pointer;
    transition: top 0.3s ease;
}

.main-sec{
    width: 96vw;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0;
    
}

.header-top{
    display: flex;
    width: 100%;
    justify-content: center;
}

.header-top a{
    font-size: 6rem;
    font-weight: 400;
}

.header-top-icons{
    display: none;
}

nav{
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
}

nav ul{
    display: flex;
    width: 55%;
    justify-content: space-between;
    margin: auto;
}

nav a{
    color: grey;
}

.sec-1{
    margin-bottom: 40px;
}

.sec-1 p{
    font-size: clamp(35px,4vw,70px);
    color: rgb(195, 195, 195);
    text-align: center;
}

.sec-2{
    position: relative;
    text-align: center;
}

.side-links{
    position: absolute;
    top: 0;
    left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    
}

.side-links i{
    color: rgb(207, 207, 207);
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 18px;
}

.side-links ul i:hover{
    color: black;
}

.sec-2 .fa-quote-right{
    font-size: 30px;
    color: #006640;
    margin-bottom: 60px;
}

.sec-2-para-1{
    width: 590px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.sec-2-para-1 p{
    font-size: 25px;
    text-align: center;  
}

.sec-2-para-2{
    width: 790px;
    max-width: 75%;
    margin: auto;
    margin-bottom: 40px;
}

.sec-2-para-2 p{
    font-size: 18px;
    text-align:left ;  
}

.sec-2-para-2 span{
    text-align: center;
    font-size: 18px;
}

.sec-3{
    width: 800px;
    max-width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-gap: 4px;
}

.sec-4{

    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 75%;
    margin: auto;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(202, 202, 202);
}

.sec-4-ul{
    position: relative;
    left: 50px;
}

.sec-4-ul li,a{
    list-style: disc;
    font-size: 13px;
    line-height: 1.7;
}

.sec-4-ul a{
    font-size: 17px;
}

.share-links{
    display: none;

}

.share-links h3{
    margin-right: 10px;
}

.share-links li{
    display: inline;
}

.share-links i{
    color: rgb(207, 207, 207);
    font-size: 20px;
    cursor: pointer;
    margin-right: 2vw;
}

.share-links ul i:hover{
    color: black;
}

.share-links h4{
    font-size: 17px;
    font-weight: normal;
    color: rgb(7, 7, 7);
    margin-right: 25px;
}

.sec-4-likes{
    display: flex;
    margin-top: 35px;
    margin-bottom: 30px;
}

.sec-4-likes button{
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    border: solid;
    border-width: 1px;
    border-color: rgb(202, 202, 202);
    border-radius: 5px;
    padding: 5px 12px;
}

.sec-4-likes img{
    height: 25px;
    cursor: pointer;
}

.sec-4-likes img,a{
    margin-left: 1vw;
}

.sec-5{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}

.sec-5-div-1{
    width: 60%;
    margin-left: 150px;
}

.sec-5-div-1-flex-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.sec-5-div-1-flex-1-item-1{
    width: 50%;
}

.sec-5-div-1-flex-1-item-1 h6{
    font-size: 12px;
    margin-bottom: 15px;
    color: rgb(107, 107, 107);
}

.sec-5-div-1-flex-1-item-1 p{
    font-size: 15px;
    color: rgb(107, 107, 107);
    padding-right: 5vw;
}

.sec-5-div-1-flex-1-item-2{
    width: 50%;
}

.sec-5-div-1-flex-1-item-2 h6{
    font-size: 12px;
    margin-bottom: 15px;
    color: rgb(107, 107, 107);
}

.sec-5-div-1-flex-1-item-2-form-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid;
    border-width: 2px;
    background-color: white;
    border-color: rgb(108, 108, 108);
    border-radius: 20px;
    padding: 10px 30px;
}


.sec-5-div-1-flex-1-item-2 input[type="text"]{
    width: 80%;
    color: rgb(107, 107, 107);
    font-size: 15px;
    border: solid;
    border-right: none;
    border-width: 0px;
    border-color: rgb(202, 202, 202);
    border-radius: 10px;
    /* border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; */
    outline: none;
   
}

.sec-5-div-1-flex-1-item-2 input[type="submit"]{
    font-size: 15px;
    color: rgb(107, 107, 107);
    border: solid;
    border-left: none;
    border-width: 0px;
    background-color: white;
    border-color: rgb(202, 202, 202);
    border-radius: 10px;
    /* border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; */
    cursor: pointer;

}

.sec-5-div-1-flex-2{
    display: flex;
    justify-content: space-between;
}

.sec-5-div-1-flex-2-item-1 h6{
    font-size: 12px;
    margin-bottom: 15px;
    color: rgb(107, 107, 107);
}

.sec-5-div-1-flex-2-item-1 p{
    font-size: 15px;
    color: rgb(107, 107, 107);
    padding-right: 5vw;
}

.sec-5-div-1-flex-2-item-2 h6{
    font-size: 12px;
    margin-bottom: 15px;
    color: rgb(107, 107, 107);
}

.sec-5-div-1-flex-2-item-2 img{
    padding-bottom: 80px;
    padding-top: 40px;
    width: 30px;
    margin-left: 30px;
}

.sec-5-div-1-flex-2-item-2 h1{
    font-size: 30px;
    font-weight: 900;
    margin-left: 30px;
}

.sec-5-div-1-flex-2-item-2 p{
    font-size: 15px;
    color: rgb(107, 107, 107);
    margin-bottom: 30px;
    margin-left: 30px;
}

.sec-5-div-1-flex-2-item-2 button{
    background-color: #1d9bf0;
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    color: white;
    font-size: 15px;
    margin-left: 30px;
}

.sec-5-div-2{
    width: 30%;
    margin-right: 50px;
    margin-left: 70px;
}


.sec-5-div-2-flex-1{
    display: flex;
    flex-direction: column;
}

.sec-5-div-2-flex-1-item-1 h6{
    font-size: 12px;
    margin-bottom: 15px;
    color: rgb(107, 107, 107);
}

.sec-5-div-2-flex-1-item-1 p{
    font-size: 15px;
    color: rgb(107, 107, 107);
}

.sec-5-div-2-flex-1-item-1-form-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid;
    border-width: 2px;
    background-color: white;
    border-color: rgb(108, 108, 108);
    border-radius: 20px;
    padding: 10px 30px;
    margin: 20px 0;
}


.sec-5-div-2-flex-1-item-1 input[type="text"]{
    width: 80%;
    color: rgb(107, 107, 107);
    font-size: 15px;
    border: solid;
    border-right: none;
    border-width: 0px;
    border-color: rgb(202, 202, 202);
    border-radius: 10px;
    /* border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; */
    outline: none;
   
}

.sec-5-div-2-flex-1-item-1 input[type="submit"]{
    font-size: 15px;
    color: rgb(107, 107, 107);
    border: solid;
    border-left: none;
    border-width: 0px;
    background-color: white;
    border-color: rgb(202, 202, 202);
    border-radius: 10px;
    /* border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; */
    cursor: pointer;

}

.sec-5-div-2-flex-1-item-2 h6{
    font-size: 12px;
    margin-bottom: 15px;
    color: rgb(107, 107, 107);
    margin-top: 100px;
}

.sec-5-div-2-flex-1-item-2 p{
    font-size: 15px;
    color: rgb(107, 107, 107);
}

footer{
    margin-bottom: 80px;
}









/* MQ for header */

@media(max-width:1190px){
    .vertical-sec{
        display: none;
    }

    .main-sec{
        width: 100vw;
    }

    .nav-inline{
        display: none;
    }

    .nav-block{
        opacity: 0;
        transition: opacity ease 0.8s;
        height: 90vw;
        width: 70vw;
        position: fixed;
        margin: 0;
        z-index: -10;
    }

    .nav-block.active{
        opacity: 1;
        z-index: 10;
    }

    .nav-block ul{
        display: block;
        width: 100%;
        text-align: right;
        background-color: rgba(29, 29, 29, 0.708);
        padding-right: 10vw;
    }

    .nav-block li a{
        color: white;
        line-height: 3;
        margin: 0;
        font-size: 15px;
    }

    .nav-block li a:hover{
        color: #023f29;
    }

    .header-top{
        justify-content: space-between;
    }

    .header-top a{
        font-size: 45px;
        margin-left: 5vw;
    }

    @media(min-width:767px){
        .header-top{
            justify-content: center;
        }

        .header-top-icons{
           position: relative;
           left: 25vw;
        }

        .header-top a{
            position: relative;
            left: 3.5vw;  
        }

    }

    @media(max-width:345px){
        .header-top a{
            font-size: 12vw;    
        }
    }

    .header-top-icons{
        display: block;
    }

    .header-top-icons-menu .fa-bars{
       display: block;
       font-size: 25px;
       font-weight: 300;
       color: rgb(71, 71, 71) ;
    }

    .header-top-icons-menu{
        display: inline-block;
        text-align: center;
        font-size: 8px;
        color: gray;
        margin-right: 5vw;
    }

    .header-top-icons .fa-search{
        font-size: 20px;
        margin-right: 3vw;
    }
}

@media(min-width:1189px){
    .vertical-sec{
        display: block;
    }

    .main-sec{
        width: 96vw;
    } 

    .nav-block{
        opacity: 0;
        transition: opacity ease 0.8s;
        height: 90vw;
        width: 70vw;
        position: fixed;
        margin: 0;
        z-index: -10;
    }

    .nav-block.active{
        opacity: 1;
        z-index: 10;
    }

    .nav-block ul{
        display: block;
        width: 100%;
        text-align: right;
        background-color: rgba(29, 29, 29, 0.708);
        padding-right: 10vw;
    }

    .nav-block li a{
        color: white;
        line-height: 3;
        margin: 0;
        font-size: 15px;
    }

    .nav-block li a:hover{
        color: #023f29;
    }
}


/* MQ for sec 2 */

@media(max-width:1190px){
    .side-links{
        display: none;
    }
}

@media(max-width:550px){
    .sec-2-para-1 p{
        font-size: 20px;
        text-align: center;  
    }

    .sec-2-para-1{
        max-width: 75%;
    }

}




/* MQ for sec 4 */

@media(max-width:579px){
    .sec-4-ul{
        left: 5px;
    }

    .sec-4-ul a{
        font-size: 14px;
    }
}

@media(max-width:1190px){
    .share-links{
        display: flex;
        margin-top: 60px;
    }
}


/* MQ for sec 5 */

@media(max-width:1190px){
    .sec-5{
        flex-direction: column;
    }

    .sec-5-div-2{
        width: 45%;
    }

    .sec-5-div-1 {
        width: 90%;
        margin-left: 65px;
    }

    @media(max-width:769px){

        .sec-5-div-1 {
            margin-left: 30px;
        }
        .sec-5-div-1-flex-1{
            flex-direction: column;
        }

        .sec-5-div-1-flex-1-item-1 {
            width: 100%;
            margin-bottom: 80px;
        }

        .sec-5-div-1-flex-1-item-2 {
            width: 90%;
        }

        .sec-5-div-1-flex-2{
            flex-direction: column;
        }

        .sec-5-div-1-flex-2-item-1 {
            width: 90%;
        }

        .sec-5-div-1-flex-2-item-2 {
            width: 90%;
            margin-bottom: 80px;
        }

        .sec-5-div-2 {
            width: 80%;
            margin-left: 30px;
        }
    }
}

